# PostgreSQL Database
DATABASE_URL=postgresql://admin:password123@localhost:5432/beauty_salon_db

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Google Cloud Platform
GCP_PROJECT_ID=your_project_id
GCP_REGION=your_region
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/credentials.json
GOOGLE_CALENDAR_ID=your_calendar_id@group.calendar.google.com

# ChromaDB
# Для локального режима ChromaDB (хранение в папке) - закомментируйте строку ниже.
# Для серверного режима ChromaDB (через Docker) - раскомментируйте и используйте 'localhost'.
# CHROMA_HOST=localhost
